footer{
    background-color: black;
}

.logo-footer-index{
    height: 40px;
}

.iconos-redes{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}