.titulo-logo {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    color: $background-principal;
    height: 40px;
}

.titulo-logo h1 {
    display: flex;
    font-size: 30px;
    justify-content: center;
}
// IMAGENES DE GLH//

