.main-service{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-service img{
    height: 100%
}

.main-service h2{
    background-color: rgb(185, 3, 3);
    color: black;
}