.main-contacto , .main-contacto2 , .main-contacto3{
    display:flex;
    flex-direction: row;
    width: 50%;
    border-style: solid;
    display: flex;
    justify-content: center;
}

.main-contacto h2 img{
    display: flex;
    flex-flow: column wrap;
    text-align: center;


}

.mapa-contacto iframe{
    width: 100%;
}